<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galleri</title>
</head>
<body>
    <div class="container">
        <h2> Hei {{username }}!</h2>
        <h2 id="Velkommen">Velkommen til Galleriet</h2>
        <div class="gallery">
            {% for image in images %}
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/' + image.filename) }}" alt="Gallery Image">
                    <p>{{ image.description }}</p>
                </div>
            {% endfor %}
            <a class="logout" id="logout" href="/logout">Logout</a>
        </div>
        
</body>
</html>